{# File: templates/content_management/base.html #}
{# Location: C:\git\_clapri\templates\content_management\base.html #}

{% extends 'base.html' %}

{% block extra_css %}
{{ block.super }}
<!-- Add any content management specific styles -->
<style>
    .content-wrapper {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        {% block content_management %}{% endblock %}
    </div>
</div>

<script> window.chtlConfig = { chatbotId: "9136524743" } </script>
<script async data-id="9136524743" id="chatling-embed-script" type="text/javascript" src="https://chatling.ai/js/embed.js"></script>
{% endblock %}